{% extends "overseer/base.html" %}

{% load overseer_helpers %}

{% block content %}
    <dl class="incidents">
        <dt><span class="status sm status-{{ event.status }}"></span>{{ event.get_message }}</dt>
        <dd><span class="services">{% for slug, name in event.get_services %}<a href="{% url 'overseer:service' slug %}">{{ name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</span><span class="time">{{ event.date_updated|date }} | {{ event.date_updated|time }}</span></dd>
    </dl>

    <div>
        <dl class="incidents updates">
            {% for update in update_list %}
                <dt><span class="message">{{ update.get_message }}</span><span class="time">{{ update.date_created|date }} | {{ update.date_created|time }}</span></dt>
            {% endfor %}
        </dl>
    </div>
{% endblock %}