{% extends "overseer/base.html" %}

{% load overseer_helpers %}

{% block content %}
  
  <h6 class="text-center">refreshed at <span id="update-time"></span> on <span id="update-date"></span></h6>
  <div class="service-list">
    {% for service in service_list %}
        <div class="palette-wet-asphalt panel-heading {% if not service.get_issue_events %}not-has-panel-body{% endif %}">
            <a class="lead">
              <span class="status status-{{ service.status }}"></span><span class="service-title">{{ service.name }}</span>
            </a>
        </div>
        {% if service.get_issue_events %}
        <div id="collapse-{{service.id}}" class="palette-midnight-blue">
          <div class="panel-body">
            <dl class="service-incidents">
                  {% for event in service.get_issue_events %}
                      <dd><span class="incident-event"><span class="status sm status-{{ event.status }}"></span><span class="message"><a href="{% url 'overseer:event' event.id %}">{{ event.description }}</a></span></span><span class="time">{{ event.date_updated|date }} | {{ event.date_updated|time:"g:i a" }}</span></dd>
                  {% endfor %}
            </dl>
          </div>
        </div>
        {% endif %}
    {% endfor %}
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#update-time').html(new moment().format("h:mm a"));
      $('#update-date').html(new moment().format("MMM D, YYYY"));
    });
  </script>

  {% if HOMEPAGE_RELOAD %}
  <script type="text/javascript">
    setTimeout(function(){  window.location.reload(1);  }, {{HOMEPAGE_RELOAD_DELAY_MS}});
  </script>
  {% else %}
  <script type="text/javascript">
      // http://jquery-howto.blogspot.com/2009/09/get-url-parameters-values-with-jquery.html
    // Read a page's GET URL variables and return them as an associative array.
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    if(getUrlVars()['AutoReload']) {
      setTimeout(function(){
        window.location.reload(1);
      }, {{HOMEPAGE_RELOAD_DELAY_MS}});
    }
  </script>
  {% endif %}
{% endblock %}