{% extends "overseer/base.html" %}

{% load overseer_helpers %}

{% block content %}

  <div class="service-list">
        <div class="palette-wet-asphalt panel-heading {% if not service.get_issue_events %}not-has-panel-body{% endif %}">
            <a class="lead">
              <span class="status status-{{ service.status }}"></span><span class="service-title">{{ service.name }}</span>
            </a>
        </div>
        {% if service.get_issue_events %}
        <div id="collapse-{{service.id}}" class="palette-midnight-blue">
          <div class="panel-body">
            <dl class="service-incidents">
                  {% for event in service.get_issue_events %}
                      <dd><span class="incident-event"><span class="status sm status-{{ event.status }}"></span><span class="message"><a href="{% url 'overseer:event' event.id %}">{{ event.description }}</a></span></span><span class="time">{{ event.date_updated|date }} | {{ event.date_updated|time:"g:i a" }}</span></dd>
                  {% endfor %}
            </dl>
          </div>
        </div>
        {% endif %}
  </div>
{% endblock %}